<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

<!--    package="com.bonlala.fitalent"-->


    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <application
        android:name="com.bonlala.fitalent.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"

        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.BonlalaSdk">

        <meta-data android:name="ScopedStorage" android:value="true" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="64071eb959ce0d6e0a9073f8fc4b7188"/>
        <service android:name="com.amap.api.location.APSService" />
        <activity android:name="com.bonlala.fitalent.activity.LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <!--相机-->
        <activity android:name="com.bonlala.fitalent.activity.CamaraActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bonlala.fitalent.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.bonlala.fitalent.MainActivity">

        </activity>
        <activity android:name="com.bonlala.fitalent.activity.OperateActivity" />


        <!--转腕亮屏-->
        <activity android:name="com.bonlala.fitalent.activity.TurnWristActivity"
            android:screenOrientation="portrait"/>
        <!--久坐提醒-->
        <activity android:name="com.bonlala.fitalent.activity.LongSitActivity"
            android:screenOrientation="portrait"/>
        <!--勿扰模式-->
        <activity android:name="com.bonlala.fitalent.activity.DNTActivity"
            android:screenOrientation="portrait"/>
        <!--闹钟-->
        <activity android:name="com.bonlala.fitalent.activity.AlarmListActivity"/>
        <!--表盘-->
        <activity android:name="com.bonlala.fitalent.activity.DialActivity"
            android:screenOrientation="portrait"/>
        <!--固件升级-->
        <activity android:name="com.bonlala.fitalent.activity.DfuActivity"
            android:screenOrientation="portrait"/>
        <!--历史数据-->
        <activity android:name="com.bonlala.fitalent.activity.RecordHistoryActivity" />

        <!--锻炼页面-->
        <activity android:name="com.bonlala.fitalent.activity.history.ExerciseRecordActivity"/>
        <!--锻炼详情-->
        <activity android:name=".activity.history.ExerciseDetailActivity"/>
        <!--权限展示-->
        <activity android:name="com.bonlala.fitalent.activity.ShowPermissionActivity"/>

        <activity android:name=".activity.FeedbackActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.PersonalActivity"/>
        <activity android:name=".activity.WeatherActivity"/>
        <activity android:name=".activity.CompleteUserInfoActivity"/>
        <activity android:name=".activity.ShowWebActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <!--消息提醒-->
        <activity android:name=".activity.MsgNotifyActivity"/>
        <activity android:name="com.bonlala.fitalent.activity.history.TestA" />
        <activity android:name=".activity.GuideActivity"/>
        <service android:name="com.bonlala.fitalent.ble.ConnStatusService"
            android:exported="false"/>



        <!--运动模块-->
        <service android:name="com.bonlala.sport.SportAmapService"/>
        <activity android:name="com.bonlala.sport.activity.SportGuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bonlala.sport.activity.SportTrackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bonlala.sport.activity.SportSettingActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 消息通知 -->
        <service
            android:name="com.bonlala.fitalent.service.AlertService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!--获取系统变化的广播-->
        <receiver android:name=".service.SystemStatusBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <!--语言变化-->
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.bonlala.fitalent.service.DfuService"
            android:exported="true">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!-- 获取电话广播 -->
        <receiver android:name="com.bonlala.fitalent.service.PhoneBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>